%fieldset
  %legend Realty Location
  %label Address
  = form.text_field :address, :size => 15, :class => "address"
  %fieldset
    %legend Location
    %label Latitude
    = form.text_field :latitude, :size => 15, :class => "latitude"
    %label Longitude
    = form.text_field :longitude, :size => 15, :class => "longitude"
    %div#map_canvas.addRealtyMap
%fieldset 
  %legend Realty Information
  %label Rooms
  = form.text_field :rooms, :size => 15, :class => "rooms"
  %label Bathrooms
  = form.text_field :bathrooms, :size => 15, :class => "bathrooms"
  %label Size
  = form.text_field :size, :size => 15, :class => "size"
  %label Other Facilities
  = form.text_field :other_facilities, :size => 15, :class => "other_facilities"
  %label Description
  = form.text_field :description, :size => 15, :class => "description"
%fieldset
  %legend Photos
  - i = 0
  = form.fields_for :realty_images do |form_photos| 
    %p 
      - if !@realty.realty_images[i].blank?
        = image_tag @realty.realty_images[i].photo.url(:thumb)
      = form_photos.file_field :photo
      - i+=1

= form.submit "Save"